.button {
  display inline-block
  position relative

  padding 5px 10px
  margin 10px 0px

  font-weight 700
  font-size 14px

  border-radius 2px
  border 0px

  background-color c-white
  cursor pointer
  transition t-default

  &:focus {
    outline none
  }
  &:active {
    transform translateY(1px)
  }

  &--add {
    background-color c-orange
    color c-white

    padding 11px 18px 11px 45px
    margin 0px

    svg {
      fill: c-white

      display inline-block
      width 14px
      height 14px

      position absolute
      top 13px
      left 12px
    }

    &:before{
      content: '';

      display inline-block
      width 1px
      height 100%

      background-color #d63820

      position absolute
      top 0px
      left 35px
    }

    &:hover{
      background-color #E7543D
    }
  }
  &--more {
    background-color c-white-light
    color c-orange

    width 100%
    height 62px
    line-height 55px
    transform-origin 0px 0px

    svg {
      fill: c-orange

      display inline-block
      width 20px
      height 20px

      transform rotate(90deg)

      position relative
      top 5px
      right 5px
    }

    p {
      display inline-block
      font-weight 700
    }

    &:hover{
      background-color c-gray-light
    }

    &.is-active {
      svg {
        animation rotation 1s infinite linear
      }
    }
  }
}
