.input {
  display block
  border 0px
  border-radius 4px

  padding 12px

  background-color c-gray
  color c-white

  transition all 200ms ease

  &:focus {
    outline none
    background-color #ecebeb
  }

  &--search {
    width 100%
    max-width 300px
    color c-black
    padding-left 35px
    background-color c-gray-light
  }
}
