// =========================================
// Variables -------------------------------

	// ------------------------------
	// Colors
	c-black			 =			#272727
	c-white			 =			#FFFFFF

	c-gray			 =			#909090
  c-gray-light =      #F2F1F1

  c-red        =      #BA3638

	// ------------------------------
	// Transition
	t-default 	=			all 150ms ease

	// -------------------------------------
	// Font
	font-1x			=			16px
	font-2x			=			32px
	font-3x			=			64px

	// -------------------------------------
	// Breakpoints
	bp-mobile		=			320px
	bp-tablet		=			768px
	bp-desktop	=			1024px
