// =========================================
// Variables -------------------------------

	// ------------------------------
	// Colors
	c-black			 =			#272727
	c-white			 =			#FFFFFF

  c-white-dark =      #EFEFEF
  c-white-light=      #F4F4F1

	c-gray			 =			#545454
  c-gray-dark  =      #363636
  c-gray-light =      #F0F0F0

  c-orange     =      #E3472F

	// ------------------------------
	// Transition
	t-default 	=			all 200ms ease

	// -------------------------------------
	// Font
	font-1x			=			16px
	font-2x			=			32px
	font-3x			=			64px

  roboto      =     'Roboto', sans-serif

	// -------------------------------------
	// Breakpoints
	bp-mobile		=			320px
	bp-tablet		=			768px
	bp-desktop	=			1024px
