// =========================================
// Global Styles ---------------------------
* {
	-mox-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box
	margin 0px
	padding 0px
}
body {
	background-color c-white
	color c-black
	font-family roboto
	font-size font-1x
	font-smoothing antialiased
	text-size-adjust none
}
main {
  display block
  width 100%
  max-width 920px
  margin-left auto
  margin-right auto
}
h1, h2, h3, h4, h5, h6 {
	font-family roboto
	font-weight 700
}
ol, ul{
	list-style none
}
a{
	text-decoration none
}
p{
	font-weight 500
	b, strong {
		font-weight 700
  }
}
img {
	width 100%
}
