// =========================================
// Global Styles ---------------------------
*,
*:after,
*:before {
	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: c-black;
	color: c-white;
	font-family: 'Arial', sans-serif;
	font-size: font-1x;
	font-smoothing: antialiased;
	text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: montserrat;
	font-weight: 700;
}
ol, ul{
	list-style: none;
}
a{
	text-decoration: none;
}
p{
	font-weight: 500;
	b, strong {
		font-weight: 700;
  }
}
img {
	width: 100%;
}
