// =========================================
// Charset  --------------------------------
@charset 'UTF-8'

// =========================================
// Configurations  -------------------------
@import 'config/mixins'
@import 'config/variables'

// =========================================
// Base  -----------------------------------
@import 'base/*'

// =========================================
// Components  -----------------------------
@import 'components/*'

// =========================================
// Layout  ---------------------------------

  // ---------------------------------------
  // Includes
  @import 'layout/includes/*'

  // ---------------------------------------
	// Sections
	@import 'layout/section/sections'

  // ---------------------------------------
  // Views
  @import 'layout/views/*'

  // ---------------------------------------
  // Mobile
  @import 'layout/mobile/*'
